<!DOCTYPE html>
<html class="h-full bg-white">
<head>
  <title>Castle Test App</title>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/castle.browser.js"></script>
</head>
<body class="h-full">

<%= yield %>

<%= erb :_castle_snippet %>
</body>
</html>
